/public/hot
/public/storage
/storage/*.key
#/vendor
/.idea
/.vscode
/.vagrant
node_modules/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.robots.txt
.robots.draft.txt
.robots.live.txt
!build
node_modules
*.lnk
robots.txt
