/*

Reduce margin /padding on xs 

*/




@media (max-width: 576px) {
    .container-fluid {
      margin:0 !important;
      padding:0 !important;
    }

    .row {
       
            margin:0 !important;
            padding:0 !important;
         
    }

    .navbar-brand {

        background-size: 100%;

    }
    
  }