
/*

Import the google fonts

*/

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Caveat|Comfortaa|Delius+Unicase|Handlee|Merriweather:300|Michroma|Orbitron|Rock+Salt|Sarpanch|Tillana:600');

@import url('https://fonts.googleapis.com/css?family=Arvo|Comfortaa|Courgette|Cousine|Prosto+One|Roboto');

/*

Reduce margin /padding on xs 

*/




@media (max-width: 576px) {
    .container-fluid {
      margin:0 !important;
      padding:0 !important;
    }

    .row {
       
            margin:0 !important;
            padding:0 !important;
         
    }

    .navbar-brand {

        background-size: 100%;

    }
    
  }


  /*

    Apply Google fonts family

  */

  

  body{

    font-family: "Cousine", monospace,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


  }


  .grid-item#div-gi-maintxt {
    
    font-size: inherit;
  }

  @media (min-width: 768px) AND (max-width:2000px) {
    .grid-item#div-gi-maintxt {
      grid-row: 1 / 3;
      grid-column: 1 / 9;
    }
  }
  

  