@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Caveat|Comfortaa|Delius+Unicase|Handlee|Merriweather:300|Michroma|Orbitron|Rock+Salt|Sarpanch|Tillana:600');



.g-font-1 {
      font-family:Allerta+Stencil;

  }
  .g-font-2 {
        font-family:Caveat;

    }
  .g-font-3 {
        font-family:Comfortaa;

    }
  .g-font-4 {
        font-family:Delius+Unicase;

    }
  .g-font-5 {
        font-family:Handlee;

    }
  .g-font-6 {
        font-family:Merriweather;

    }
  .g-font-7 {
        font-family:Michroma;

    }
  .g-font-8 {
        font-family:Orbitron;

    }
  .g-font-9 {
        font-family:Rock+Salt;

    }
  .g-font-10 {
        font-family:Sarpanch;

    }
  .g-font-11 {
        font-family:Tillana;


    }
